In [1]:
import pandas as pd

In [40]:
df = pd.read_csv("phone_usage.csv")
df

,ï»¿name,slug,value,date_of_information,ranking,region
0,China,china,"1,810,000,000",2023,1,East and Southeast Asia
1,India,india,"1,140,000,000",2022,2,South Asia
2,United States,united-states,"386,000,000",2023,3,North America
3,Indonesia,indonesia,"352,000,000",2023,4,East and Southeast Asia
4,Russia,russia,"245,000,000",2022,5,Central Asia
...,...,...,...,...,...,...
220,Falkland Islands (Islas Malvinas),falkland-islands-islas-malvinas,"6,000",2021,221,South America
221,Montserrat,montserrat,"5,000",2020,222,Central America and the Caribbean
222,"Saint Helena, Ascension, and Tristan da Cunha",saint-helena-ascension-and-tristan-da-cunha,"4,000",2021,223,Africa
223,American Samoa,american-samoa,"2,250",2009,224,Australia and Oceania
224,Wallis and Futuna,wallis-and-futuna,0,2018,225,Australia and Oceania

In [9]:
df.columns

Index(['ï»¿name', 'slug', 'value', 'date_of_information', 'ranking', 'region'], dtype='object')

In [10]:
df.shape #

(225, 6)

In [11]:
df_new = df[["slug" , "ranking"]]
df_new

                                            slug  ranking
0                                          china        1
1                                          india        2
2                                  united-states        3
3                                      indonesia        4
4                                         russia        5
..                                           ...      ...
220              falkland-islands-islas-malvinas      221
221                                   montserrat      222
222  saint-helena-ascension-and-tristan-da-cunha      223
223                               american-samoa      224
224                            wallis-and-futuna      225

[225 rows x 2 columns]

In [13]:
df[df["slug"] == "china"]

,ï»¿name,slug,value,date_of_information,ranking,region
0,China,china,"1,810,000,000",2023,1,East and Southeast Asia

In [15]:
# df["new_col"] = df["ranking"] * 10

,ï»¿name,slug,value,date_of_information,ranking,region,new_col
0,China,china,"1,810,000,000",2023,1,East and Southeast Asia,10
1,India,india,"1,140,000,000",2022,2,South Asia,20
2,United States,united-states,"386,000,000",2023,3,North America,30
3,Indonesia,indonesia,"352,000,000",2023,4,East and Southeast Asia,40
4,Russia,russia,"245,000,000",2022,5,Central Asia,50
...,...,...,...,...,...,...,...
220,Falkland Islands (Islas Malvinas),falkland-islands-islas-malvinas,"6,000",2021,221,South America,2210
221,Montserrat,montserrat,"5,000",2020,222,Central America and the Caribbean,2220
222,"Saint Helena, Ascension, and Tristan da Cunha",saint-helena-ascension-and-tristan-da-cunha,"4,000",2021,223,Africa,2230
223,American Samoa,american-samoa,"2,250",2009,224,Australia and Oceania,2240
224,Wallis and Futuna,wallis-and-futuna,0,2018,225,Australia and Oceania,2250

In [42]:
#rename columns
df.columns = ['country', 'slug', 'value', 'date', 'ranking', 'region']
df

,country,slug,value,date,ranking,region
0,China,china,"1,810,000,000",2023,1,East and Southeast Asia
1,India,india,"1,140,000,000",2022,2,South Asia
2,United States,united-states,"386,000,000",2023,3,North America
3,Indonesia,indonesia,"352,000,000",2023,4,East and Southeast Asia
4,Russia,russia,"245,000,000",2022,5,Central Asia
...,...,...,...,...,...,...
220,Falkland Islands (Islas Malvinas),falkland-islands-islas-malvinas,"6,000",2021,221,South America
221,Montserrat,montserrat,"5,000",2020,222,Central America and the Caribbean
222,"Saint Helena, Ascension, and Tristan da Cunha",saint-helena-ascension-and-tristan-da-cunha,"4,000",2021,223,Africa
223,American Samoa,american-samoa,"2,250",2009,224,Australia and Oceania
224,Wallis and Futuna,wallis-and-futuna,0,2018,225,Australia and Oceania

In [24]:
df[df["region"] == 'Europe'].country.values

array(['Germany', 'United Kingdom', 'Italy', 'France', 'Spain', 'Poland',
       'Ukraine', 'Romania', 'Netherlands', 'Sweden', 'Czechia',
       'Portugal', 'Belgium', 'Belarus', 'Greece', 'Austria',
       'Switzerland', 'Hungary', 'Serbia', 'Bulgaria', 'Slovakia',
       'Denmark', 'Finland', 'Norway', 'Ireland', 'Croatia', 'Moldova',
       'Lithuania', 'Bosnia and Herzegovina', 'Slovenia', 'Albania',
       'Latvia', 'Estonia', 'North Macedonia', 'Kosovo', 'Cyprus',
       'Montenegro', 'Luxembourg', 'Malta', 'Iceland', 'Andorra',
       'Jersey', 'Guernsey', 'Faroe Islands', 'Liechtenstein', 'Monaco',
       'San Marino', 'Gibraltar'], dtype=object)

In [19]:
df[df["country"]== "Sri Lanka"]

      country       slug       value  date  ranking      region
46  Sri Lanka  sri-lanka  30,000,000  2023       47  South Asia

In [26]:
#what is the avarage mobile usage in England?
df[df["country"]== "United Kingdom"]

           country            slug       value  date  ranking  region
20  United Kingdom  united-kingdom  84,300,000  2023       21  Europe

In [29]:
df[df["region"]== "South Asia"]

         country         slug          value  date  ranking      region
1          India        india  1,140,000,000  2022        2  South Asia
8     Bangladesh   bangladesh    191,000,000  2023        9  South Asia
9       Pakistan     pakistan    189,000,000  2023       10  South Asia
41         Nepal        nepal     38,200,000  2021       42  South Asia
46     Sri Lanka    sri-lanka     30,000,000  2023       47  South Asia
58   Afghanistan  afghanistan     23,000,000  2023       59  South Asia
168       Bhutan       bhutan        752,000  2023      169  South Asia
170     Maldives     maldives        745,000  2023      171  South Asia

In [54]:
# Which country has the  highest mobile uage in south asian region
df[df["region"]== "South Asia"].max()

country     Sri Lanka
slug        sri-lanka
value      1140000000
date             2023
ranking           171
region     South Asia
dtype: object

In [43]:
df.dtypes

country    object
slug       object
value      object
date        int64
ranking     int64
region     object
dtype: object

In [45]:
"Umair".replace("U", "_")

'_mair'

In [46]:
def replace_comma(value):
  return value.replace(",", "")

In [48]:
df["value"] = df["value"].apply(replace_comma)

In [51]:
df["value"]

0      1810000000
1      1140000000
2       386000000
3       352000000
4       245000000
          ...
220          6000
221          5000
222          4000
223          2250
224             0
Name: value, Length: 225, dtype: object

In [52]:
df["value"] = df["value"].astype("int64")

In [53]:
df["value"]

0      1810000000
1      1140000000
2       386000000
3       352000000
4       245000000
          ...
220          6000
221          5000
222          4000
223          2250
224             0
Name: value, Length: 225, dtype: int64

In [39]:
# df["value"] = df['value'].apply(lambda v : v.replace(",", ""))
df["value"].astype("int64")

0      1810000000
1      1140000000
2       386000000
3       352000000
4       245000000
          ...
220          6000
221          5000
222          4000
223          2250
224             0
Name: value, Length: 225, dtype: int64

In [32]:
df['ranking']

0        1
1        2
2        3
3        4
4        5
      ...
220    221
221    222
222    223
223    224
224    225
Name: ranking, Length: 225, dtype: int64

In [ ]:
# Which country has the  highest mobile uage in afrian regiondf['value']

In [ ]:
# analyse the growth of usage whole over the world year by year!